body {
	font-family: 'Balsamiq Sans', cursive;
	background-image: url('https://images.unsplash.com/photo-1530908295418-a12e326966ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	width: 1000px;
}

h1 {
    text-align: center;
}

#container {
	background-color: lightseagreen;
    text-align: center;
    padding: 45px 0 45px 0;
    border-radius: 8px;
    margin: 15% auto 0 auto;
    width: 700px;
    -webkit-box-shadow: 0px 2px 36px -2px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 2px 36px -2px rgba(0,0,0,0.6);
	box-shadow: 0px 2px 36px -2px rgba(0,0,0,0.6);
}

#weather-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#user-submit {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 14em;
    height: 2.3em;
    border-radius: 10px;
    border: 2px solid lightseagreen;
    background-color: white;
    color: lightseagreen;
    font-size: 16px;
    font-family: 'Balsamiq Sans', cursive;
}

#user-submit:focus {
	outline: none;
}

#user-submit:hover {
	border: 2px solid white;
	color: white;
	background-color: lightseagreen;
	transition: 0.7s;
}

#user-city {
	display: block;
	margin: auto;
	margin-top: 30px;
	width: 22em;
	height: 2.5em;
	border-radius: 10px;
	border: 2px solid lightseagreen;
	text-align: center;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 18px;
}

#user-city:hover {
	outline: none;
}

#weather-icon {
	font-size: 40px;
}

#city {
	font-size: 45px;
	align-self: center;
}

#celsius {
	font-size: 40px;
	align-self: center;
	background-color: #db5858;
	border-radius: 100%;
	padding: 15px;
}

#fahrenheit {
	font-size: 40px;
	align-self: center;
	background-color: #db5858;
	border-radius: 100%;
	padding: 15px;
}