html {
	width: max-content;
	margin: auto;
}

body {
	font-family: 'Balsamiq Sans', cursive;
	background-image: url('https://images.unsplash.com/photo-1530908295418-a12e326966ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

h1 {
    text-align: center;
}

#container {
	background-color: lightseagreen;
    text-align: center;
    padding: 5em 0 5em 0;
    border-radius: 8px;
    margin: auto;
    width: 50em;
    -webkit-box-shadow: 0px 2px 36px -2px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 2px 36px -2px rgba(0,0,0,0.6);
	box-shadow: 0px 2px 36px -2px rgba(0,0,0,0.6);
}

#weather-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#user-submit {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 14em;
    height: 2.3em;
    border-radius: 10px;
    border: 2px solid lightseagreen;
    background-color: white;
    color: lightseagreen;
    font-size: 1em;
    font-family: 'Balsamiq Sans', cursive;
}

#user-submit:focus {
	outline: none;
}

#user-submit:hover {
	border: 2px solid white;
	color: white;
	background-color: lightseagreen;
	transition: 0.7s;
}

#user-city {
	display: block;
	margin: auto;
	margin-top: 30px;
	width: 22em;
	height: 2.5em;
	border-radius: 10px;
	border: 2px solid lightseagreen;
	text-align: center;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 1.5em;
}

#user-city:hover {
	outline: none;
}

#weather-icon {
	font-size: 3em;
}

#city {
	font-size: 3em;
	align-self: center;
}

#celsius {
	font-size: 3em;
	align-self: center;
	background-color: #db5858;
	border-radius: 100%;
	padding: 15px;
}

#fahrenheit {
	font-size: 3em;
	align-self: center;
	background-color: #db5858;
	border-radius: 100%;
	padding: 15px;
}

@media (max-width: 800px) {
	#container {
		width: 25em;
		padding: 2em 0 2em 0;
	}
	#weather-icon {
		font-size: 1em;
	}
	#fahrenheit {
		font-size: 1em;
	}
	#celsius {
		font-size: 1em;
	}
	#city {
		font-size: 1em;
	}
	#user-city {
		width: 11em;
		height: 1em;
	}
	#user-submit {
		width: 7em;
		height: 2em;
		font-size: .5em;
	}

}